@import "tailwindcss";

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}
.stock-container {
  background: linear-gradient(120deg, #c8e7ff, #f5f3ff);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  width: 70%;
  margin: 2rem auto;
  text-align: center;
  backdrop-filter: blur(12px);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #3b2f83;
  margin-bottom: 1.5rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 2rem;
}

.search-bar input {
  width: 250px;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.search-bar input:focus {
  border-color: #7b3fe4;
  box-shadow: 0 0 10px #e4d3ff;
  outline: none;
}

.search-bar button {
  background: linear-gradient(135deg, #7b3fe4, #996afc);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.3s ease;
}

.search-bar button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #b89dfc;
}

.stock-card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.stock-card:hover {
  transform: translateY(-5px);
}

.stock-card h2 {
  font-size: 1.8rem;
  color: #3b2f83;
}

.stock-card span {
  color: #7b3fe4;
}

.price-tag {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #4d3bb3;
}

.loading {
  font-size: 1.2rem;
  color: #777;
}
